@import "tailwindcss";

/* https://tailwindcss.com/docs/upgrade-guide#buttons-use-the-default-cursor */
@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

:root {
  --radius: 0.625rem;
  --background: hsl(220 23.076923191547394% 94.90196108818054%);
  --foreground: hsl(234 16.022099554538727% 35.49019694328308%);
  --card: hsl(220 23.076923191547394% 94.90196108818054%);
  --card-foreground: hsl(234 16.022099554538727% 35.49019694328308%);
  --popover: hsl(220 23.076923191547394% 94.90196108818054%);
  --popover-foreground: hsl(234 16.022099554538727% 35.49019694328308%);
  --primary: oklch(0.93 0.0806 155.99);
  --primary-foreground: hsl(220 23.076923191547394% 94.90196108818054%);
  --secondary: hsl(223 15.909090638160706% 82.74509906768799%);
  --secondary-foreground: hsl(234 16.022099554538727% 35.49019694328308%);
  --muted: hsl(223 15.909090638160706% 82.74509906768799%);
  --muted-foreground: hsl(233 12.796208262443542% 41.372549533843994%);
  --accent: hsl(223 15.909090638160706% 82.74509906768799%);
  --accent-foreground: hsl(234 16.022099554538727% 35.49019694328308%);
  --destructive: hsl(347 86.66666746139526% 44.11764740943909%);
  --border: hsl(225 13.55932205915451% 76.86274647712708%);
  --input: hsl(225 13.55932205915451% 76.86274647712708%);
  --ring: hsl(234 16.022099554538727% 35.49019694328308%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* https://tailwindcss.com/docs/upgrade-guide#buttons-use-the-default-cursor */
@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

:root {
  --radius: 0.625rem;
  --background: hsl(220 23.076923191547394% 94.90196108818054%);
  --foreground: hsl(234 16.022099554538727% 35.49019694328308%);
  --card: hsl(220 23.076923191547394% 94.90196108818054%);
  --card-foreground: hsl(234 16.022099554538727% 35.49019694328308%);
  --popover: hsl(220 23.076923191547394% 94.90196108818054%);
  --popover-foreground: hsl(234 16.022099554538727% 35.49019694328308%);
  --primary: oklch(0.93 0.0806 155.99);
  --primary-foreground: hsl(220 23.076923191547394% 94.90196108818054%);
  --secondary: hsl(223 15.909090638160706% 82.74509906768799%);
  --secondary-foreground: hsl(234 16.022099554538727% 35.49019694328308%);
  --muted: hsl(223 15.909090638160706% 82.74509906768799%);
  --muted-foreground: hsl(233 12.796208262443542% 41.372549533843994%);
  --accent: hsl(223 15.909090638160706% 82.74509906768799%);
  --accent-foreground: hsl(234 16.022099554538727% 35.49019694328308%);
  --destructive: hsl(347 86.66666746139526% 44.11764740943909%);
  --border: hsl(225 13.55932205915451% 76.86274647712708%);
  --input: hsl(225 13.55932205915451% 76.86274647712708%);
  --ring: hsl(234 16.022099554538727% 35.49019694328308%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
