@import "tailwindcss";

:root {
  --radius: 0.625rem;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: hsl(220 23.08% 94.9%);
    --foreground: hsl(234 16.02% 35.49%);
    --card: hsl(220 23.08% 94.9%);
    --card-foreground: hsl(234 16.02% 35.49%);
    --popover: hsl(220 23.08% 94.9%);
    --popover-foreground: hsl(234 16.02% 35.49%);
    --primary: hsla(267 83.51% 80.98% / 0.8);
    --primary-foreground: hsl(220 23.08% 94.9%);
    --secondary: hsl(223 15.91% 82.75%);
    --secondary-foreground: hsl(234 16.02% 35.49%);
    --muted: hsl(223 15.91% 82.75%);
    --muted-foreground: hsl(233 12.8% 41.37%);
    --accent: hsl(223 15.91% 82.75%);
    --accent-foreground: hsl(234 16.02% 35.49%);
    --destructive: hsl(347 86.67% 44.12%);
    --border: hsl(225 13.56% 76.86%);
    --input: hsl(225 13.56% 76.86%);
    --ring: hsl(234 16.02% 35.49%);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: hsl(240 21.05% 14.9%);
    --foreground: hsl(226 63.93% 88.04%);
    --card: hsl(240 21.05% 14.9%);
    --card-foreground: hsl(226 63.93% 88.04%);
    --popover: hsl(240 21.05% 14.9%);
    --popover-foreground: hsl(226 63.93% 88.04%);
    --primary: hsla(267 83.51% 80.98% / 0.5);
    --primary-foreground: hsl(240 21.05% 14.9%);
    --secondary: hsl(237 16.24% 22.94%);
    --secondary-foreground: hsl(226 63.93% 88.04%);
    --muted: hsl(237 16.24% 22.94%);
    --muted-foreground: hsl(227 35.29% 80%);
    --accent: hsl(237 16.24% 22.94%);
    --accent-foreground: hsl(226 63.93% 88.04%);
    --destructive: hsl(343 81.25% 74.9%);
    --border: hsl(234 13.21% 31.18%);
    --input: hsl(234 13.21% 31.18%);
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  /* https://tailwindcss.com/docs/upgrade-guide#buttons-use-the-default-cursor */
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}
