---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
  <section class="flex min-h-screen flex-col items-center justify-center space-y-2">
    <div class="flex flex-col items-center">
      <h1 class="text-6xl">404</h1>
      <p>Cette page n'existe pas/pas encore.</p>
    </div>
    <a href="/" class="text-sm hover:underline">Retour à l'accueil</a>
  </section>
</BaseLayout>
