---
import Layout from "@/layouts/Layout.astro";

import info from "@/config/info.json";
---

<Layout>
  <h1 class="font-semibold">{info.name.toLowerCase()}~</h1>

  <div class="text-muted-foreground space-y-3 mt-5">
    <p>Freelance developer and CS student based in Rouen, France.</p>
    <p>I am currently working alone, building web and mobile experiences.</p>
    <p>
      Take a look at some recent <a
        href="/work"
        class="bg-primary font-semibold text-accent-foreground border-b-2">work</a
      >, read a <a href="" class="border-b-2 text-accent-foreground">haiku</a> or feel free to
      <button class="border-b-2 text-accent-foreground">get in touch</button>
    </p>
  </div>
</Layout>
