---
import BaseLayout from "@/layouts/BaseLayout.astro";

import Title from "@/components/mdx/Title.astro";
---

<BaseLayout>
  <Title>work</Title>

  <p class="text-muted-foreground">Coming soon...</p>
</BaseLayout>
