---
import Layout from "@/layouts/Layout.astro";

import Title from "@/components/mdx/Title.astro";
---

<Layout>
  <Title>writing</Title>

  <p class="text-muted-foreground">Coming soon...</p>
</Layout>
