---
import BaseLayout from "@/layouts/BaseLayout.astro";

import Card from "@/components/Card.astro";
import Title from "@/components/Title.astro";

import { getCollection } from "astro:content";

const posts = await getCollection("writing");
---

<BaseLayout>
  <Title>writing</Title>

  {
    posts.length > 0 ? (
      <div>
        {posts.map((item) => (
          <Card href={`/writing/${item.id}`} name={item.data.title} date={item.data.date} />
        ))}
      </div>
    ) : (
      <p>coming soon...</p>
    )
  }
</BaseLayout>
