---
interface Props {
  href: string;
  blank?: boolean;
}

const props = Astro.props;
---

<a href={props.href} class="text-accent-foreground hover:text-muted-foreground inline-block underline" target={props.blank ? "_blank" : "_self"}>
  <slot />
</a>
