<div class="relative h-4.5 w-fit">
  <div id="track" class="flex h-full items-center gap-x-2.5">
    {Array.from({ length: 18 }).map(() => <div class="bg-muted-foreground/40 h-full w-px shrink-0" />)}
  </div>
  <div id="indicator" class="border-muted-foreground bg-background absolute top-0 left-0 h-full w-8.5 border"></div>
</div>

<script>
  import { scroll, animate } from "motion";

  function init() {
    const indicator = document.getElementById("indicator");
    const track = document.getElementById("track");
    const scrollTarget = document.getElementById("gallery-container");

    if (!indicator || !track || !scrollTarget) {
      return;
    }

    let scrollStop: (() => void) | undefined;

    const setupAnimation = () => {
      if (scrollStop) {
        scrollStop();
      }

      const travelDistance = track.offsetWidth - indicator.offsetWidth;

      scrollStop = scroll(
        animate(
          indicator,
          {
            x: [0, travelDistance],
          },
          { ease: "linear" },
        ),
        {
          target: scrollTarget,
          offset: ["start start", "end end"],
        },
      );
    };

    setupAnimation();
    window.addEventListener("resize", setupAnimation);
  }

  document.addEventListener("DOMContentLoaded", init);
</script>
