---
import projects from "@/config/projects.json";
---

<div class="flex flex-col space-y-4">
  {
    projects.map((item) => (
      <a href={item.href} target="_blank" class="group">
        <h3 class="line-clamp-1 text-sm group-hover:underline">{item.name}</h3>
        <p class="line-clamp-2 text-sm text-muted-foreground">{item.description}</p>
      </a>
    ))
  }
</div>
