---
import Slide from "@/components/Slide.astro";
---

<Slide title="Projets">
  <a href="/projects" draggable="false" class="flex h-full cursor-pointer items-center overflow-hidden">
    <span id="project-text" class="-mt-15 inline-block text-[400px] whitespace-nowrap">Projets</span>
  </a>
</Slide>

<script>
  import { animate, scroll } from "motion";

  function init() {
    const text = document.getElementById("project-text");
    const container = document.getElementById("gallery-container");

    if (!text || !container) {
      return;
    }

    const isMobile = window.matchMedia("(max-width: 767px)").matches;
    const xDistance = isMobile ? -200 : -650;

    scroll(
      animate(
        text,
        {
          x: [0, xDistance],
        },
        {
          ease: "linear",
          delay: 0.1,
        },
      ),
      {
        target: container,
        offset: ["start start", "end end"],
      },
    );
  }

  document.addEventListener("DOMContentLoaded", init);
</script>
